## Equal Weight Strategy

In [2]:
import numpy as np
import pandas as pd
import yfinance as yf
import math

## Loads the Stocks List

In [3]:
tickers=pd.read_csv(r'C:\Users\DELL\.vscode\code\data\top_50_indian_stocks.csv')
tickers.head()

         Ticker               Company Name
0   RELIANCE.NS        Reliance Industries
1        TCS.NS  Tata Consultancy Services
2   HDFCBANK.NS                  HDFC Bank
3       INFY.NS                    Infosys
4  ICICIBANK.NS                 ICICI Bank

In [4]:
def fetch_market_cap(ticker_list):
    data=yf.download(ticker_list,period='1d',group_by='tickers',auto_adjust=False)
    print(data)

tickers_list=tickers['Ticker'].values.tolist()
fetch_market_cap(tickers_list)

[*********************100%***********************]  50 of 50 completed

Ticker       HDFCAMC.NS                                                 \
Price              Open    High          Low   Close Adj Close  Volume
Date
2025-04-25  4554.100098  4601.0  4367.100098  4382.5    4382.5  725596

Ticker     BAJAJFINSV.NS                               ... ASIANPAINT.NS  \
Price               Open    High          Low   Close  ...           Low
Date                                                   ...
2025-04-25        2105.0  2125.0  2023.099976  2045.5  ...   2413.699951

Ticker                                       HDFCLIFE.NS                     \
Price             Close    Adj Close  Volume        Open   High         Low
Date
2025-04-25  2431.600098  2431.600098  702217  711.450012  733.5  692.650024

Ticker
Price            Close   Adj Close   Volume
Date
2025-04-25  704.549988  704.549988  3714671

[1 rows x 300 columns]

In [5]:
def fetch_market_cap(ticker_list):
    data=yf.download(ticker_list,period='1d',group_by='tickers',auto_adjust=False)


    stock_data=[]
    for tickers in ticker_list:
        data_price=data[tickers]['Close'].iloc[-1]
        market_cap=yf.Ticker(tickers).info.get("marketCap","N/A")
        stock_data.append({
            "Ticker":tickers,
            "Market Cap":market_cap,
            "Latest Price":data_price,
        })
    stocks_df=pd.DataFrame(stock_data)
    return stocks_df


tickers_list=tickers["Ticker"].values.tolist()
df=fetch_market_cap(tickers_list)
df.head()

[*********************100%***********************]  50 of 50 completed

         Ticker      Market Cap  Latest Price
0   RELIANCE.NS  17613786710016   1300.400024
1        TCS.NS  12475173961728   3448.000000
2   HDFCBANK.NS  14674117525504   1911.199951
3       INFY.NS   6133371633664   1480.199951
4  ICICIBANK.NS  10009972834304   1404.800049

In [6]:
df

           Ticker      Market Cap  Latest Price
0     RELIANCE.NS  17613786710016   1300.400024
1          TCS.NS  12475173961728   3448.000000
2     HDFCBANK.NS  14674117525504   1911.199951
3         INFY.NS   6133371633664   1480.199951
4    ICICIBANK.NS  10009972834304   1404.800049
5   HINDUNILVR.NS   5479713472512   2332.199951
6         SBIN.NS   7259289550848    798.650024
7   BAJFINANCE.NS   5772378898432   9112.000000
8   BHARTIARTL.NS  11065329975296   1817.199951
9          ITC.NS   5381681053696    427.799988
10   KOTAKBANK.NS   4419887824896   2204.399902
11    ADANIENT.NS   2817979580416   2354.300049
12          LT.NS   4538959396864   3272.100098
13     HCLTECH.NS   4298227580928   1578.199951
14  ASIANPAINT.NS   2362916995072   2431.600098
15    AXISBANK.NS   3739962834944   1166.300049
16   SUNPHARMA.NS   4328153415680   1787.400024
17       WIPRO.NS   2539495358464    240.899994
18  ULTRACEMCO.NS   3599489040384  12237.000000
19    HDFCLIFE.NS   1524364214272    704.549988
20        ONGC.NS   3136889290752    246.330002
21        NTPC.NS   3520375029760    356.450012
22   POWERGRID.NS   2923179540480    306.500000
23  TATAMOTORS.NS   2460430893056    655.250000
24  INDUSINDBK.NS    640655032320    822.349976
25  ADANIGREEN.NS   1534297767936    912.549988
26       TITAN.NS   3000519884800   3365.199951
27    DIVISLAB.NS   1650022416384   6012.500000
28       TECHM.NS   1293516275712   1462.000000
29      MARUTI.NS   3739499888640  11698.000000
30   COALINDIA.NS   2464165920768    393.149994
31        BPCL.NS   1310013128704    295.700012
32    JSWSTEEL.NS   2549938388992   1028.400024
33     DRREDDY.NS    999610318848   1174.800049
34  BAJAJFINSV.NS   3358097408000   2045.500000
35  ADANIPORTS.NS   2671663906816   1193.000000
36       CIPLA.NS   1252892082176   1525.900024
37   BRITANNIA.NS   1315994337280   5420.500000
38     HAVELLS.NS   1005896728576   1599.800049
39    SHREECEM.NS   1107591168000  30540.000000
40      GRASIM.NS   1795191209984   2734.800049
41   TATASTEEL.NS   1766672039936    138.850006
42  HEROMOTOCO.NS    790942318592   3895.500000
43         M&M.NS   3480260968448   2864.199951
44   EICHERMOT.NS   1549163823104   5575.500000
45         IOC.NS   1954242756608    134.649994
46     SBICARD.NS    881812504576    867.549988
47  PIDILITIND.NS   1564806217728   3011.199951
48       DMART.NS   2926247673856   4375.200195
49     HDFCAMC.NS    972183109632   4382.500000

In [7]:
df=df.sort_values(by="Market Cap",ascending=False)
df

           Ticker      Market Cap  Latest Price
0     RELIANCE.NS  17613786710016   1300.400024
2     HDFCBANK.NS  14674117525504   1911.199951
1          TCS.NS  12475173961728   3448.000000
8   BHARTIARTL.NS  11065329975296   1817.199951
4    ICICIBANK.NS  10009972834304   1404.800049
6         SBIN.NS   7259289550848    798.650024
3         INFY.NS   6133371633664   1480.199951
7   BAJFINANCE.NS   5772378898432   9112.000000
5   HINDUNILVR.NS   5479713472512   2332.199951
9          ITC.NS   5381681053696    427.799988
12          LT.NS   4538959396864   3272.100098
10   KOTAKBANK.NS   4419887824896   2204.399902
16   SUNPHARMA.NS   4328153415680   1787.400024
13     HCLTECH.NS   4298227580928   1578.199951
15    AXISBANK.NS   3739962834944   1166.300049
29      MARUTI.NS   3739499888640  11698.000000
18  ULTRACEMCO.NS   3599489040384  12237.000000
21        NTPC.NS   3520375029760    356.450012
43         M&M.NS   3480260968448   2864.199951
34  BAJAJFINSV.NS   3358097408000   2045.500000
20        ONGC.NS   3136889290752    246.330002
26       TITAN.NS   3000519884800   3365.199951
48       DMART.NS   2926247673856   4375.200195
22   POWERGRID.NS   2923179540480    306.500000
11    ADANIENT.NS   2817979580416   2354.300049
35  ADANIPORTS.NS   2671663906816   1193.000000
32    JSWSTEEL.NS   2549938388992   1028.400024
17       WIPRO.NS   2539495358464    240.899994
30   COALINDIA.NS   2464165920768    393.149994
23  TATAMOTORS.NS   2460430893056    655.250000
14  ASIANPAINT.NS   2362916995072   2431.600098
45         IOC.NS   1954242756608    134.649994
40      GRASIM.NS   1795191209984   2734.800049
41   TATASTEEL.NS   1766672039936    138.850006
27    DIVISLAB.NS   1650022416384   6012.500000
47  PIDILITIND.NS   1564806217728   3011.199951
44   EICHERMOT.NS   1549163823104   5575.500000
25  ADANIGREEN.NS   1534297767936    912.549988
19    HDFCLIFE.NS   1524364214272    704.549988
37   BRITANNIA.NS   1315994337280   5420.500000
31        BPCL.NS   1310013128704    295.700012
28       TECHM.NS   1293516275712   1462.000000
36       CIPLA.NS   1252892082176   1525.900024
39    SHREECEM.NS   1107591168000  30540.000000
38     HAVELLS.NS   1005896728576   1599.800049
33     DRREDDY.NS    999610318848   1174.800049
49     HDFCAMC.NS    972183109632   4382.500000
46     SBICARD.NS    881812504576    867.549988
42  HEROMOTOCO.NS    790942318592   3895.500000
24  INDUSINDBK.NS    640655032320    822.349976

## top 10 as per market cap

In [8]:
df=df.head(10)
df.reset_index(inplace=True,drop=True)
df

          Ticker      Market Cap  Latest Price
0    RELIANCE.NS  17613786710016   1300.400024
1    HDFCBANK.NS  14674117525504   1911.199951
2         TCS.NS  12475173961728   3448.000000
3  BHARTIARTL.NS  11065329975296   1817.199951
4   ICICIBANK.NS  10009972834304   1404.800049
5        SBIN.NS   7259289550848    798.650024
6        INFY.NS   6133371633664   1480.199951
7  BAJFINANCE.NS   5772378898432   9112.000000
8  HINDUNILVR.NS   5479713472512   2332.199951
9         ITC.NS   5381681053696    427.799988

In [9]:
portfolio_size=int(input("Enter the amount you want to invest:"))
position_size=portfolio_size / len(df.index)
position_size

10000.0

In [10]:
df['Number of shares you can Buy']=df['Latest Price'].apply(lambda price:math.floor
(position_size / price))
df

C:\Users\DELL\AppData\Local\Temp\ipykernel_10196\2776559362.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Number of shares you can Buy']=df['Latest Price'].apply(lambda price:math.floor

          Ticker      Market Cap  Latest Price  Number of shares you can Buy
0    RELIANCE.NS  17613786710016   1300.400024                             7
1    HDFCBANK.NS  14674117525504   1911.199951                             5
2         TCS.NS  12475173961728   3448.000000                             2
3  BHARTIARTL.NS  11065329975296   1817.199951                             5
4   ICICIBANK.NS  10009972834304   1404.800049                             7
5        SBIN.NS   7259289550848    798.650024                            12
6        INFY.NS   6133371633664   1480.199951                             6
7  BAJFINANCE.NS   5772378898432   9112.000000                             1
8  HINDUNILVR.NS   5479713472512   2332.199951                             4
9         ITC.NS   5381681053696    427.799988                            23